.clients {
  background-color: $color-bg-white;
}
.clients-title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 1.1785;
  text-align: center;
  letter-spacing: 0.03em;

  color: $color-title;

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.1667;
  }
}

.clients-list {
  display: flex;

  @media screen and (max-width: $width-desktop - 1) {
    flex-wrap: wrap;
  }
}

.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;

  color: $color-icon;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;

  @media screen and (max-width: $width-tablet - 1) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $width-tablet) and (max-width: $width-desktop - 1) {
    width: calc((100% - 2 * 30px) / 3);
    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      margin-right: 30px;
    }
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $width-desktop) {
    width: calc((100% - 5 * 30px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.icon-client {
  fill: currentColor;

  &.client-logo-1 {
    width: 42.27px;
  }
  &.client-logo-2 {
    width: 40px;
  }
  &.client-logo-3 {
    width: 41px;
  }
  &.client-logo-4 {
    width: 79.66px;
  }
  &.client-logo-5 {
    width: 59px;
  }
  &.client-logo-6 {
    width: 88.48px;
  }
}
