.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  @media screen and (max-width: $width-desktop - 1) {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
  @media screen and (min-width: $width-desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/index-hero-01.jpg);
  background-repeat: no-repeat;
  background-position: center;

  .hero-title {
    margin-bottom: 46px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    //   text-transform: uppercase;
    text-align: center;

    color: $color-text-footer;

    @media screen and (max-width: $width-desktop - 1) {
      font-size: 26px;
      line-height: 1.62;
    }
    @media screen and (min-width: $width-desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  .button-order {
    margin-left: auto;
    margin-right: auto;

    padding-left: 32px;
    padding-right: 32px;
  }
}
