// :root {
//   --primary-text-color: #757575;
//   --main-title-color: #212121;
//   --main-accent-color: #2196f3;
//   --main-background-color: #ffffff;
//   --secondary-background-color: #f5f4fa;
// }

$color-text-prime: #757575;
$color-text-secondery: #ffffff;
$color-title-main: #212121;
$color-accent: #2196f3;
$color-bg-main: #ffffff;
$color-bg-secondary: #f5f4fa;
$color-bg-footer: #2f303a;
