.clients {
  @extend %section;

  &-area {
    @extend %container;

    .title {
      @extend %section-title;
      margin-top: 0;
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
    }
    .clients-list {
      display: flex;
      justify-content: center;
    }
  }
}

.clients-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
  .link {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: $color-accent;
      color: $color-accent;
      cursor: pointer;
    }
  }
}

.icon-client {
  fill: currentColor;

  &.client-logo-1 {
    width: 42.27px;
  }
  &.client-logo-2 {
    width: 40px;
  }
  &.client-logo-3 {
    width: 41px;
  }
  &.client-logo-4 {
    width: 79.66px;
  }
  &.client-logo-5 {
    width: 59px;
  }
  &.client-logo-6 {
    width: 88.48px;
  }
}
