.container {
  outline: 1px solid tomato;
}
UL {
  outline: 1px solid tomato;
}

li {
  outline: 1px solid tomato;
}

P {
  outline: 1px solid tomato;
}
h1,
h2,
h3,
h4 {
  outline: 1px solid tomato;
}
