$width-mobile: 480px;
$width-tablet: 768px;
$width-desktop: 1200px;

$color-accent: #2196f3;
$color-title: #212121;
$color-text: #757575;
$color-text-footer: #ffffff;
$color-bg-white: #ffffff;
$color-bg-grey: #f5f4fa;
$color-bg-footer: #2f303a;
$color-icon: #afb1b8;
